# Created by .ignore support plugin (hsz.mobi)
### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
Будет удалено .gitignore
Будет удалено app.js
Будет удалено bin/
Будет удалено node_modules/.bin/
Будет удалено node_modules/@sindresorhus/
Будет удалено node_modules/@szmarczak/
Будет удалено node_modules/@types/
Будет удалено node_modules/abbrev/
Будет удалено node_modules/accepts/
Будет удалено node_modules/ansi-align/
Будет удалено node_modules/ansi-regex/
Будет удалено node_modules/ansi-styles/
Будет удалено node_modules/ansicolors/
Будет удалено node_modules/anymatch/
Будет удалено node_modules/array-flatten/
Будет удалено node_modules/balanced-match/
Будет удалено node_modules/basic-auth/
Будет удалено node_modules/binary-extensions/
Будет удалено node_modules/body-parser/
Будет удалено node_modules/boxen/
Будет удалено node_modules/brace-expansion/
Будет удалено node_modules/braces/
Будет удалено node_modules/bytes/
Будет удалено node_modules/cacheable-request/
Будет удалено node_modules/camelcase/
Будет удалено node_modules/cardinal/
Будет удалено node_modules/chalk/
Будет удалено node_modules/chokidar/
Будет удалено node_modules/ci-info/
Будет удалено node_modules/cli-boxes/
Будет удалено node_modules/clone-response/
Будет удалено node_modules/color-convert/
Будет удалено node_modules/color-name/
Будет удалено node_modules/concat-map/
Будет удалено node_modules/configstore/
Будет удалено node_modules/content-disposition/
Будет удалено node_modules/content-type/
Будет удалено node_modules/cookie-parser/
Будет удалено node_modules/cookie-signature/
Будет удалено node_modules/cookie/
Будет удалено node_modules/crypto-random-string/
Будет удалено node_modules/debug/
Будет удалено node_modules/decompress-response/
Будет удалено node_modules/deep-extend/
Будет удалено node_modules/defer-to-connect/
Будет удалено node_modules/denque/
Будет удалено node_modules/depd/
Будет удалено node_modules/destroy/
Будет удалено node_modules/dot-prop/
Будет удалено node_modules/duplexer3/
Будет удалено node_modules/ee-first/
Будет удалено node_modules/emoji-regex/
Будет удалено node_modules/encodeurl/
Будет удалено node_modules/end-of-stream/
Будет удалено node_modules/escape-goat/
Будет удалено node_modules/escape-html/
Будет удалено node_modules/esprima/
Будет удалено node_modules/etag/
Будет удалено node_modules/express-session/
Будет удалено node_modules/express/
Будет удалено node_modules/fill-range/
Будет удалено node_modules/finalhandler/
Будет удалено node_modules/foreachasync/
Будет удалено node_modules/forwarded/
Будет удалено node_modules/fresh/
Будет удалено node_modules/fsevents/
Будет удалено node_modules/generate-function/
Будет удалено node_modules/get-stream/
Будет удалено node_modules/glob-parent/
Будет удалено node_modules/global-dirs/
Будет удалено node_modules/got/
Будет удалено node_modules/graceful-fs/
Будет удалено node_modules/handlebars/
Будет удалено node_modules/has-flag/
Будет удалено node_modules/has-yarn/
Будет удалено node_modules/hbs/
Будет удалено node_modules/http-cache-semantics/
Будет удалено node_modules/http-errors/
Будет удалено node_modules/iconv-lite/
Будет удалено node_modules/ignore-by-default/
Будет удалено node_modules/import-lazy/
Будет удалено node_modules/imurmurhash/
Будет удалено node_modules/inherits/
Будет удалено node_modules/ini/
Будет удалено node_modules/ipaddr.js/
Будет удалено node_modules/is-binary-path/
Будет удалено node_modules/is-ci/
Будет удалено node_modules/is-extglob/
Будет удалено node_modules/is-fullwidth-code-point/
Будет удалено node_modules/is-glob/
Будет удалено node_modules/is-installed-globally/
Будет удалено node_modules/is-npm/
Будет удалено node_modules/is-number/
Будет удалено node_modules/is-obj/
Будет удалено node_modules/is-path-inside/
Будет удалено node_modules/is-property/
Будет удалено node_modules/is-typedarray/
Будет удалено node_modules/is-yarn-global/
Будет удалено node_modules/json-buffer/
Будет удалено node_modules/keyv/
Будет удалено node_modules/latest-version/
Будет удалено node_modules/long/
Будет удалено node_modules/lowercase-keys/
Будет удалено node_modules/lru-cache/
Будет удалено node_modules/make-dir/
Будет удалено node_modules/media-typer/
Будет удалено node_modules/merge-descriptors/
Будет удалено node_modules/methods/
Будет удалено node_modules/mime-db/
Будет удалено node_modules/mime-types/
Будет удалено node_modules/mime/
Будет удалено node_modules/mimic-response/
Будет удалено node_modules/minimatch/
Будет удалено node_modules/minimist/
Будет удалено node_modules/morgan/
Будет удалено node_modules/ms/
Будет удалено node_modules/mysql2/
Будет удалено node_modules/named-placeholders/
Будет удалено node_modules/negotiator/
Будет удалено node_modules/neo-async/
Будет удалено node_modules/nodemon/
Будет удалено node_modules/nopt/
Будет удалено node_modules/normalize-path/
Будет удалено node_modules/normalize-url/
Будет удалено node_modules/on-finished/
Будет удалено node_modules/on-headers/
Будет удалено node_modules/once/
Будет удалено node_modules/p-cancelable/
Будет удалено node_modules/package-json/
Будет удалено node_modules/parseurl/
Будет удалено node_modules/path-to-regexp/
Будет удалено node_modules/picomatch/
Будет удалено node_modules/prepend-http/
Будет удалено node_modules/proxy-addr/
Будет удалено node_modules/pseudomap/
Будет удалено node_modules/pstree.remy/
Будет удалено node_modules/pump/
Будет удалено node_modules/pupa/
Будет удалено node_modules/qs/
Будет удалено node_modules/random-bytes/
Будет удалено node_modules/range-parser/
Будет удалено node_modules/raw-body/
Будет удалено node_modules/rc/
Будет удалено node_modules/readdirp/
Будет удалено node_modules/redeyed/
Будет удалено node_modules/registry-auth-token/
Будет удалено node_modules/registry-url/
Будет удалено node_modules/responselike/
Будет удалено node_modules/safe-buffer/
Будет удалено node_modules/safer-buffer/
Будет удалено node_modules/semver-diff/
Будет удалено node_modules/semver/
Будет удалено node_modules/send/
Будет удалено node_modules/seq-queue/
Будет удалено node_modules/serve-static/
Будет удалено node_modules/setprototypeof/
Будет удалено node_modules/signal-exit/
Будет удалено node_modules/source-map/
Будет удалено node_modules/sqlstring/
Будет удалено node_modules/statuses/
Будет удалено node_modules/string-width/
Будет удалено node_modules/strip-ansi/
Будет удалено node_modules/strip-json-comments/
Будет удалено node_modules/supports-color/
Будет удалено node_modules/term-size/index.d.ts
Будет удалено node_modules/term-size/index.js
Будет удалено node_modules/term-size/license
Будет удалено node_modules/term-size/package.json
Будет удалено node_modules/term-size/readme.md
Будет удалено node_modules/term-size/vendor/macos/term-size
Будет удалено node_modules/term-size/vendor/windows/
Будет удалено node_modules/to-readable-stream/
Будет удалено node_modules/to-regex-range/
Будет удалено node_modules/touch/
Будет удалено node_modules/type-fest/
Будет удалено node_modules/type-is/
Будет удалено node_modules/typedarray-to-buffer/
Будет удалено node_modules/uglify-js/
Будет удалено node_modules/uid-safe/
Будет удалено node_modules/undefsafe/
Будет удалено node_modules/unique-string/
Будет удалено node_modules/unpipe/
Будет удалено node_modules/update-notifier/
Будет удалено node_modules/url-parse-lax/
Будет удалено node_modules/utils-merge/
Будет удалено node_modules/vary/
Будет удалено node_modules/walk/
Будет удалено node_modules/widest-line/
Будет удалено node_modules/wordwrap/
Будет удалено node_modules/wrappy/
Будет удалено node_modules/write-file-atomic/
Будет удалено node_modules/xdg-basedir/
Будет удалено node_modules/yallist/
Будет удалено package-lock.json
Будет удалено package.json
Будет удалено pools/
Будет удалено public/images/
Будет удалено public/javascripts/
Будет удалено public/stylesheets/
Будет удалено routes/
Будет удалено views/
